<%= render 'profile_menu' %>

<div class="row">
  <div class="col s7 push-s3">
    <h2><%= @user.name + "'s Reviews"%></h2>
    <% @reviews.each do |review| %>
      <ul class="collection">
        <li class="collection-item avatar">
          <span class="title"><%= link_to review.title, recipe_review_path(review.recipe_id, review)%></span>
        <p><br>
        </p>
      </ul>
    <% end %>
  </div>
</div>
