
<%= render 'profile_menu' %>

<div class="row">
  <div class="col s8 push-s3">
    <h2>Activity Feed</h2>
    <% if current_user && !same_as_current_user? %>
      <% if following_user? %>
        <%= link_to "Unfollow", follow_user_path(@user, type: "unfollow"),
        :class=> "waves-effect", method: :put %>
      <% else %>
        <%= link_to "Follow", follow_user_path(@user, type: "follow"),
        :class=> "waves-effect", method: :put %>
      <% end %>
    <% end %>


    <% if flash[:notice] %>
      <%= javascript_tag "Materialize.toast(`#{ flash[:notice]}`, 4000, 'rounded')", :class=> 'toast-style'%>
    <% end %>



  <div>
</div>
