

<ul id="profile-menu" class="side-nav fixed">
    <li><div class="user-view">
      <div class="background">
        <img src="https://www.photohdx.com/images/2016/11/white-embossed-paper-texture-backdrop.jpg">
      </div>
      <div class="user-info">
        <a href="#!user"><img class="circle" src="http://enadcity.org/enadcity/wp-content/uploads/2017/02/profile-pictures.png"></a>
        <h5> <%= @user.name %> </h5>
        <h5> <%= @user.username %> </h5>
      </div>
    </div></li>
    <li><a class="waves-effect" href="#!">Recipes</a></li>
    <li><a class="waves-effect" href="#!">Reviews</a></li>
    <li><a class="waves-effect" href="#!">Followers</a></li>
  </ul>

<div class="row">
  <div class="col s7 push-s3">
    <h2>Activity Feed</h2>
  </div>
  <div class="col s2 push-s3">
    <button class="btn waves-effect waves-light profile-button">
      <%= link_to "Add Recipe", new_user_recipe_path(@user) %>
    </button>
    <button class="btn waves-effect waves-light profile-button">
      Fridge
    </button>
  <div>
</div>
