// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-recipe-image {
  width: 100%;
  height: auto;
}

.user-pic {
  border-radius: 50%;
  width: 50%;
  margin-top: 15%;
}

.material-icons {
  font-size: 50px;
}

.recipe-pic {
  border-radius: 50%;
  width: 50%;
}

.edit-icon {
  padding-left: 95%;
}

.fav {
  padding-left: 15px;
}
