// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bigger {
  font-size: 40px;
}

.edit-icon {
  padding-left: 95%;
}

.reviewer-pic {
  max-width: 150px;
  margin: 0;
}

.review-author-div {
  max-height: 300px;
}
