// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  z-index: 5;
}

.profile-menu {
  z-index:  900 !important;
}

.user-view {
  height: 300px;
}

.user-info {
  margin-top: 100px;
  color: black;
}

.profile-button {
  margin-top: 20px;
  width: 175px;
}

.btn a {
  color: white;
}

.recipeTitle {
  font-size: 18px;
}

.circle {
  width: 10%;
}

.card-title {
  color: orange;
}


.add-recipe {
  margin-left: 15px;
}

.icon-class {
  color: black;
}


.fridge-page {
  background-image: url("http://www.freeimageslive.co.uk/image/view/8287/_original");
  height: 100vh;
  background-size: cover;
}

.fridge-instructions {
  color: black;
  font-size: 20px;
}

.fridge-text_area {
  background-color: white;
}

.edit-icon {
  padding-left: 95%;
}

.card-image-follow {
  max-width: 140%;
}

.follow-pic {
  width: 100%;
  margin-top: 15%;
}

.background {
  max-width: 100%;
  max-height: 100%;
}

#prof_back {
  width: 100%;
  height: 100%;
}
