// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-menu {
  z-index:  -1 !important;
}

.user-view {
  height: 300px;
}

.user-info {
  margin-top: 100px;
}

.profile-button {
  margin-top: 20px;
  width: 150px;
}

.btn a {
  color: white;
}
